{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block js %}
        <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
        <script src="{% static 'leaflet/leaflet.js' %}"></script>
        <script src="{% static 'leaflet/leaflet-src.js' %}"></script>
    {% endblock %}
    {% block css %}
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet"/>
    {% endblock %}
    <style>
        #mapid {height:800px;}
    </style>
</head>
<body>
    <div id="mapid"></div>

{#    <script>#}
{#		var map = L.map("mapid").setView([-73.9561,40.7940], 13);#}
{#		L.tileLayer('http://127.0.0.1:8000/static/Tiles/{z}/{x}/{y}.png',{attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);#}
{#	</script>#}
    <script>
        var osmUrl ='http://127.0.0.1:8000/static/Tiles/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <ahref="http://openstreetmap.org/copyright">OpenStreetMap</a>contributors',
        osm =L.tileLayer(osmUrl, {
            minZoom: 8,
            maxZoom: 17,
            attribution:osmAttrib
        });

        var map = L.map('mapid').setView([40.791162861545615, -73.958267004374733], 16).addLayer(osm);

        L.marker([40.791162861545615, -73.958267004374733]).addTo(map);
    </script>
    <script>
        $.ajax({
            type: "POST",
            dataType: "json",
            //contentType: "application/json;charset=utf-8",
            url: "query_all_points" ,
            data: "",
            //data: JSON.stringify($("#SearchParma")),
            success: function (msg) {
                console.log(msg);
                console.log(msg[0]);
                var x_arr = [];
                var y_arr = [];
                var label_arr = [];
                for (var i = 0; i < msg.length; i++) {
                    x_arr.push(msg[i]["fields"]["x"]);
                    y_arr.push(msg[i]["fields"]["y"]);
                    label_arr.push(msg[i]["pk"]);
                }
                console.log(x_arr);
                console.log(label_arr);
                addMarkers(x_arr, y_arr, label_arr)
            },
            error : function(msg) {
                console.log(msg);
                alert("connect failed！");
            }
        });

        function addMarkers(x_arr, y_arr, label_arr){
            for (var i = 0; i < x_arr.length; i++) {
                L.marker([y_arr[i], x_arr[i]]).addTo(map);

            }
        }

    </script>
</body>
</html>